name: native-metrics Linux CI

on: [push]

jobs:
  linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm ci
    - name: Rebuild
      run: npm run rebuild
    - name: Run Linting
      run: npm run lint
    - name: Run Unit
      run: npm run unit
    - name: Run Integration
      run: npm run integration